:root {
    --ruddy-pink-color: #DF928E; 
    --isabelline-color: #F3F5EA;
    --dark-vanilla-color: #C7C2A3; 
    --old-rose-color: #C58882; 
    --chinsese-violet-color: #867185; 
    }

    
    .navigation {
        color: var(--isabelline-color);
        background-color: var(--old-rose-color);
        background: linear-gradient(9deg, var(--old-rose-color) 50%, var(--dark-vanilla-color) 50%, var(--chinsese-violet-color)25%); 
        justify-content: space-around; 
        align-items: center;
        display: flex; 
    }

    .navigation--links { 
        display:flex;
        list-style: none;
    }

    .logo {
        height: 64px; 
        max-width: 100%;
    }

    .link-wrapper { 
        padding: 0 16px; 
        font-size: 1.25em;
    }

    .menu {
        display: none; 
        position: relative;
        z-index: 1;
        margin-right: 16px;
        }

    .menu-toggle {
        display: block; 
        width: 40px; 
        height: 32px; 
        position: absolute; 
        top: -7px; 
        left: -5px; 
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .menu--hamburger-bar { 
        display: block;
        width: 33px; 
        height: 4px;
        margin-bottom: 5px; 
        position: relative; 
        background: #fff; 
        z-index: 1;
    }

    .navigation--hidden-menu {
        position: absolute;
        width: 300px;
        margin: -100px -50px 0 0;
        padding: 50px; 
        background: rgb(90, 68, 95); 
        list-style: none; 
        left: 49px; 
        top: 162px; 
        transform: translate(0%, 0);
        transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .menu input:checked ~ .navigation--hidden-menu {
        transform: translate(-100%, 0);
    }

    @media screen and (max-width: 800px) {
        .menu {
            display: block;
        }

        .navigation--links { 
            display: none;
        }
        .navigation {
            justify-content: space-between;
        }
        
    }
    