.reviews {
    padding: 48 48 48 48px; 
    display: flex; 
    flex-wrap: wrap;
}

button {
    float: right;
    background-color: rgba(158, 56, 112, 0.4); 
    border: 1px solid aliceblue;
    border-radius: 8px;
    
}

 div {
    display: flex;
    justify-content: center;
    text-justify: auto
}
.reviewers-btn{
    font-size: 2em;
    padding: 10px; 
    margin: 50 0 0 0px;
    
}
